.nav-container {
  background-color: #333; /* Dark background color */
  color: white;

  .nav-items {
    padding: 1.5rem 2rem; /* Padding adjusted for better spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      flex: 1; /* Logo takes up full available space */
      display: flex;
      align-items: center;

      img {
        width: 50px; /* Adjusted logo size */
        height: auto;
        margin-right: 1rem; /* Spacing between logo and search bar */
      }
    }

    .search-info {
      flex: 3; /* Search bar and cart take more space */
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search-bar {
        flex: 2; /* Search bar takes 2/3 of search-info space */
        position: relative;
        margin-right: 1rem; /* Spacing between search bar and cart */

        input[type="text"] {
          width: 100%;
          padding: 0.5rem; /* Adjusted padding */
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          color: #333;
        }

        button {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          background: none;
          border: none;
          cursor: pointer;

          .search-icon {
            font-size: 20px;
            color: #fff; /* White color for search icon */
          }
        }
      }

      .items {
        flex: 1; /* Cart takes 1/3 of search-info space */
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .cart {
          display: flex;
          align-items: center;
          position: relative;

          .cart-icon {
            font-size: 24px;
            color: #fff; /* White color for cart icon */
            margin-right: 0.5rem; /* Spacing between cart icon and count */
          }

          h3 {
            margin: 0;
            background-color: red; /* Red background for cart count */
            color: white;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .nav-container {
    .nav-items {
      flex-direction: column;
      align-items: stretch;
      padding: 1rem;

      .logo {
        margin-bottom: 1rem; /* Spacing below logo in mobile */
      }

      .search-info {
        flex-direction: column;

        .search-bar {
          margin-right: 0; /* Remove margin between search bar and cart in mobile */
          margin-bottom: 1rem; /* Spacing below search bar in mobile */
        }
      }
    }
  }
}
