.admin-product-card{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:2vh;

    .image{
        width:20%;
      

        img{
            width:30%;
        }
    }

    h3,.navlink{
        width:20%;
       
        
    }

}

@media screen and (max-width:500px){
    .admin-product-card{
        h3,.btn1{
            font-size:0.8rem;
            padding:4px 1px;
        }
    }
}